import package

In [317]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,MinMaxScaler

import dataset ,dan menampilkan 5 data terakhir

In [318]:
df=pd.read_csv("winequalityN.csv")
df.tail()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

Menampilkan Informasi dari Dataset

In [319]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   fixed acidity         6487 non-null   float64
 2   volatile acidity      6489 non-null   float64
 3   citric acid           6494 non-null   float64
 4   residual sugar        6495 non-null   float64
 5   chlorides             6495 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6488 non-null   float64
 10  sulphates             6493 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB

Membagi Dataset menjadi Training Set dan Test Set dengan Proporsi 70:30

In [320]:
X = df.drop(['quality'], axis=1)
Y = df['quality']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [321]:
print(f"Dimensi X_train : {X_train.shape}")
print(f"Dimensi X_test  : {X_test.shape}")
print(f"Dimensi Y_train : {Y_train.shape}")
print(f"Dimensi Y_test  : {Y_test.shape}")

Dimensi X_train : (4547, 12)
Dimensi X_test  : (1950, 12)
Dimensi Y_train : (4547,)
Dimensi Y_test  : (1950,)

## Data Transformation
Normalisasi data

In [322]:
df_2 = df.copy()

ss = MinMaxScaler()
scaledData = ss.fit_transform(df_2[['quality']])
df_2['quality'] = scaledData

In [323]:
print('Hasil Sebelum Normalisasi Data')
print(df['quality'].describe())
print()
print('Hasil Normalisasi Data')
print(df_2['quality'].describe())

Hasil Sebelum Normalisasi Data
count    6497.000000
mean        5.818378
std         0.873255
min         3.000000
25%         5.000000
50%         6.000000
75%         6.000000
max         9.000000
Name: quality, dtype: float64

Hasil Normalisasi Data
count    6497.000000
mean        0.469730
std         0.145543
min         0.000000
25%         0.333333
50%         0.500000
75%         0.500000
max         1.000000
Name: quality, dtype: float64

Standarisasi Data

In [324]:
df_3 = df.copy()
ss = StandardScaler()
scaledData = ss.fit_transform(df_3[['quality']])
df_3['quality'] = scaledData

In [325]:
print("(Data sebelum Di Standarisasi)")
print(np.std(df['quality']))
print()
print("(Data sesudah Di Standarisasi)")
print(np.std(df_3['quality']))

(Data sebelum Di Standarisasi)
0.8731880644450568

(Data sesudah Di Standarisasi)
1.0

## Data Cleaning

Mengecek Jumlah data Null atau data Kosong

In [326]:
df.isna().sum()

type                     0
fixed acidity           10
volatile acidity         8
citric acid              3
residual sugar           2
chlorides                2
free sulfur dioxide      0
total sulfur dioxide     0
density                  0
pH                       9
sulphates                4
alcohol                  0
quality                  0
dtype: int64

Hanya data bertipe float yang memiliki data null, maka buat data null lain

In [328]:
df_4 = df.copy()

# Nilai Null pada data bertipe int64
df_4.loc[2000:, 'quality'] = None

# Nilai Null pada data bertipe Object
df_4.loc[2000:, 'type'] = None

In [329]:
df_4.isna().sum()

type                    4497
fixed acidity             10
volatile acidity           8
citric acid                3
residual sugar             2
chlorides                  2
free sulfur dioxide        0
total sulfur dioxide       0
density                    0
pH                         9
sulphates                  4
alcohol                    0
quality                 4497
dtype: int64

#### Mengatasi Nilai Null dengan strategy mean, median, modus

In [330]:
#Strategy median untuk int64
df_4["quality"].fillna(df_4["quality"].median(), inplace=True)

#Strategy median untuk float64
df_4["fixed acidity"].fillna(df_4["fixed acidity"].mean(), inplace=True)
df_4["volatile acidity"].fillna(df_4["volatile acidity"].mean(), inplace=True)
df_4["citric acid"].fillna(df_4["citric acid"].mean(), inplace=True)
df_4["residual sugar"].fillna(df_4["residual sugar"].mean(), inplace=True)
df_4["chlorides"].fillna(df_4["chlorides"].mean(), inplace=True)
df_4["pH"].fillna(df_4["pH"].mean(), inplace=True)
df_4["sulphates"].fillna(df_4["sulphates"].mean(), inplace=True)

#Strategy median untuk object
df_4["type"].fillna(df_4["type"].mode()[0], inplace=True)
# Pakai Indeks 0 untuk menentukan dari banyak modus yang ada kita akan menggunakan yang ada di indeks 0

df_4.isna().sum()

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [331]:
df.duplicated().sum()

1168

menghapus data duplikat

In [332]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

#### Mengganti Tipe Data pada salah satu attribute angka

In [333]:
print(f"Tipe Data dari Attribute pH adalah : {df_4['pH'].dtypes}")

Tipe Data dari Attribute pH adalah : float64

In [334]:
df_4['pH'] = df_4['pH'].astype('object')
print(f"Tipe Data dari Attribute pH setelah diubah adalah : {df_4['pH'].dtypes}")

Tipe Data dari Attribute pH setelah diubah adalah : object

### One Hot Encoding pada kolom 'type'

In [335]:
enc=pd.get_dummies(df[['type']])
df=df.join(enc)
df

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type_red,type_white
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,0,1
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,0,1
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,0,1
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,0,1
6,white,6.2,0.320,0.16,7.0,0.045,30.0,136.0,0.99490,3.18,0.47,9.6,6,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6491,red,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,1,0
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1,0
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,6,1,0
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1,0
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,1,0